{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h1 class="my-5">Hébergements</h1>

    <div class="card-deck">
        {% for accommodation in accommodations %}
        <a href="{{ path('journey_show', {'name': accommodation.name}) }}" class="card col-3 p-0" style="text-decoration: none">
            <img src="https://s.iha.com/2520600030446/Locations-vacances-Serre-chevalier-1400-villeneuve-Chalet_30.jpeg" class="img-fluid"/>
            <div class="mt-2 px-3 text-primary">
                <h4>{{ accommodation.name }}</h4>
                <h4 class="text-right text-danger"><small>dès</small> {{ accommodation.priceWeek }}€</h4>
            </div>
        </a>
        {% else %}
            <h1>No journey found</h1>
        {% endfor %}
    </div>
{% endblock %}
