{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Edit {% endblock %}

{% block body %}
    <div class="form-inline text-right my-5">
        <h1 class="mr-auto">Edit {{ accommodation.name }}</h1>
        {{ include('accommodation/_delete_form.html.twig') }}
    </div>
    
    {{ include('accommodation/_form.html.twig', {'button_label': 'Update'})}}

    <div class="text-right my-5">
        <a href="{{ path('accommodation_index') }}">back to list</a>
    </div>

{% endblock %}
